@media print {
  .print-flat {
    border: none !important;
    background-color: transparent !important;
    -webkit-appearance: none; /* Removes default browser styling */
    -moz-appearance: none;
    appearance: none;
    padding: 0; /* Optional: remove padding for a tighter look */
    border-radius: 0; /* Optional: remove border-radius */
  }
}

.shadow-glow {
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
}